* {
    margin: 0;
    padding: 0;
}
header {
    text-align: center;
    font-size: 150%;
    background-color: aqua;
    height: 7vh;
}
main {
    background-image: url(tło.png);
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer {
    text-align: center;
    background-color: aqua;
    height: 3vh;
}
#btnStart {
    background-color: lightgreen;
    border: 5px green dotted;
    font-size: 190%;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
}
#hideCanvas {
    display: none;
}
#canvasMap {
    width: 70vw;
    height: 85vh;
    background-color: black;
    border: 10px solid grey;
}
